<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Feed tipo Pinterest</title>
  <!-- Hoja de estilos principal del feed -->
  <link rel="stylesheet" href="../css/galeria.css">
</head>
<body>
  <!-- Contenedor principal de la página (puede usarse para layout global) -->
  <div class="main">
    <!-- HEADER: cabecera fija que contiene menú, logo y enlace de login -->
    <header class="header-principal">
      <div class="logo-container">
        <img src="../imagenes/Logo.png" alt="Logo DeboraWorld">
      </div>
      <div class="contenedor-derecha">
        <nav class="navegador">
          <div class="menu-links" id="menuLinks">
            <a href="#inicio">Inicio</a>
            <a href="servicios.html">Servicios</a>
            <a href="galeria.html">Galeria</a>
            <a href="nosotros.html">Sobre Nosotros</a>
            <a href="index.html">Reservas Online</a>
            <a href="contacto.html">Contacto</a>
          </div>
        </nav>
        <button class="loginlinks">
          <a href="iniciosesion.html">Iniciar Sesión</a>
        </button>
      </div>
    </header>
    <div class="feed" id="feed-proyectos">
      <img src="../imagenes/color.jpg">
      <img src="../imagenes/corte.jpg">
      <img src="../imagenes/corte.jpg">
      <img src="../imagenes/corte.jpg">
      <img src="../imagenes/corte.jpg">
      <img src="../imagenes/corte.jpg">
      <img src="../imagenes/corte.jpg">
      <img src="../imagenes/corte.jpg">
      <img src="../imagenes/corte.jpg">
      <img src="../imagenes/corte.jpg">
    </div>
     <!-- FOOTER: información de contacto y derechos -->
    
      <footer>
      <p>&copy; DEBORA WORLD. Todos los derechos reservados.
         Email: contacto@deboraworld.org<br>
        Teléfono: +54 9 11 1234-5678<br>
        Dirección: Quilmes, Argentina
      </p>
    </footer>

  <script src="../script.js"></script>
</body>
</html>