<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Inicio de Sesión - RAVKOSMOS</title>
  <link rel="stylesheet" href="../css/iniciosesion.css" />
</head>
<body>
  <div class="contenedor">
  <div class="lado-izquierdo">
    <img src="../imagenes/iniciosesion2.jpg">
  </div>
  <div class="lado-derecho">
  <div class="iniciosesion">
    <h2>Iniciar Sesión</h2>
    <form id="formlogin">
      <input type="email" id="emailLogin" placeholder="Correo electrónico" required />
      <input type="contrasena" id="contrasenaLogin" placeholder="Contraseña" required />
      <button class="boton">Entrar</button>
    </form>
    <p id="mensajeLogin" class="mensaje"></p>
    <div class="acciones-inferiores">
      <p>¿No tenés cuenta? <a href="../templates/registro.html">Registrarse</a></p>
      <hr>
      <a href="../templates/inicio.html" class="btn-volver">← Volver al Inicio</a>
    </div>
  </div>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../iniciosesion.js"></script>
</body>
</html>
