<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Inicio de Sesión - RAVKOSMOS</title>
  <link rel="stylesheet" href="../css/iniciosesion.css" />
</head>
<body>
  <div class="contenedor">
  <div class="lado-izquierdo">
    <img src="../imagenes/iniciosesion2.jpg">
  </div>
  <div class="lado-derecho">
  <div class="iniciosesion">
    <h2>Iniciar Sesión</h2>
    <form id="login">
      <input type="email" id="emailLogin" placeholder="Correo electrónico" required />
      <input type="password" id="passwordLogin" placeholder="Contraseña" required />
      <button class="boton"><a href="../templates/inicio.html">Entrar</a></button>
    </form>
    <p id="mensajeLogin" class="mensaje"></p>
    <p>¿No tenés cuenta? <a href="registro.html">Registrarse</a></p>
  </div>
  </div>
  </div>
  <script src="../script.js"></script>
</body>
</html>
