<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/nosotros.css">
</head>
<body>
  <header class="header-principal">
    <div class="logo-container">
      <img src="../imagenes/logo.png" alt="Logo DeboraWorld">
    </div>
    <div class="contenedor-derecha">
      <nav class="navegador">
        <div class="menu-links" id="menuLinks">
          <a href="../templates/inicio.html">Inicio</a>
          <a href="../templates/misiones2.html">Servicios</a>
          <a href="../templates/galeria.html">Galeria</a>
          <a href="../templates/nosotros.html">Sobre Nosotros</a>
          <a href="../templates/index.html">Reservas Online</a>
          <a href="#contacto">Contacto</a>
        </div>
      </nav>
      <button class="loginlinks">
        <a href="../templates/iniciosesion.html">Iniciar Sesión</a>
      </button>
    </div>
  </header>
  <div class="timeline-container">
        <div class="timeline">
            <!-- NACIMIENTO -->
            <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content left">
                    <h3>NACIMIENTO</h3>
                    <p>Nuestra organización nació en 2006. La estilista Debora World inició su trayectoria profesional, demostrando su experiencia, dedicación, energía y profesionalismo. Después de trabajar en grandes establecimientos de peluqueria, abrió este lugar para compartir un espacio.</p>
                    <div class="timeline-images">
                        <img src="../imagenes/inicio1.jpg" alt="Nacimiento 1">
                        <img src="../imagenes/inicio1.jpg" alt="Nacimiento 2">
                        <img src="../imagenes/inicio1.jpg" alt="Nacimiento 3">
                    </div>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content right">
                    <h3>¿QUIÉN ES DEBORA?</h3>
                    <div class="timeline-images">
                        <img src="../imagenes/debora.jpg" alt="debora 1">
                        <img src="../imagenes/debora.jpg" alt="debora 2">
                    </div>
                    <p>Debora es más que una maestra peluquera y estilista de excelencia, si no que tambien busca transmitir su pasion por el arte del pelo.</p>
                </div>
            </div>

            <!-- NUESTRO NOMBRE -->
            <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content left">
                    <h3>NUESTRO NOMBRE</h3>
                    <div class="timeline-image-single">
                        <img src="../imagenes/Logo.png" alt="Nombre">
                    </div>
                    <p>¿Cómo nació el nombre de nuestro salón? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis incidunt quod a asperiores soluta iusto velit nobis hic, sequi beatae in porro iste ducimus inventore minima eos autem, suscipit at? </p>
                </div>
            </div>

            <!-- NUESTRO LEMA -->
            <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content right">
                    <h3>NUESTRO LEMA</h3>
                    <div class="timeline-images">
                        <img src="../imagenes/lema.jpg" alt="Lema 1">
                        <img src="../imagenes/lema.jpg" alt="Lema 2">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
      <p>&copy; 2025 DEBORA WORLD. Todos los derechos reservados.
         Email: DeboraWorld@gmail.com<br>
        Teléfono: +54 9 11 1234-5678<br>
        Dirección: Quilmes Oeste, Argentina
      </p>
    </footer>

</body>
</html>