<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/servicios.css">
</head>
<body>

    <header class="header-principal">
        <div class="logo-container">
            <img src="../imagenes/Logo.png" alt="Logo DeboraWorld">
        </div>
        <div class="contenedor-derecha">
            <nav class="navegador">
                <div class="menu-links" id="menuLinks">
                <a href="inicio.html">Inicio</a>
                <a href="servicios.html">Servicios</a>
                <a href="galeria.html">Galeria</a>
                <a href="nosotros.html">Sobre Nosotros</a>
                <a href="index.html">Reservas Online</a>
                <a href="contacto.html">Contacto</a>
            </nav>
            <button class="loginlinks">
      <a  id="loginlinks" href="iniciosesion.html">Iniciar Sesión</a>
    </button>
        </div>
    </header>

   <div class="buscador-container">
    <span class="lupa">🔍</span>
    <input type="text" id="buscador" placeholder="Buscar un servicio... (ej: Corte, Peinado)">
</div>
    <div id="contenedor-servicios" class="servicios"></div>

    <script src="../main.js"></script>
</body>
</html>